

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}



html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

